@* البيانات اللي بستقبلها من الكنترولر هي من الكلاس موفي اللي هو المودل فلا تنسى لازم تحط كذا عشان تستقبل البيانات من الكنترولر  *@
@model MovieManager.Models.Movie

<h2>Movie Details</h2>

@* فيه فرق لما تقول موديل بحرف ام كبير وصغير  *@
@* الكبير يعني يقصد فيه الكائن اللي  ارسله الكنترولر  *@
@* والصغير عباره عن تعريف للبيانات الجايه من الكنترولر  داخل الفيو *@
<div class="align-content-center text-center">
<h3>@Model.Name</h3>
<p>ID : @Model.Id </p>
<p>Year : @Model.Year </p>
<p>Rating : @Model.Rating</p>
</div>