@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


<div>
<link rel="stylesheet" href="/css/site.css">

<h1>Movie Manager</h1>

<img class="w-10 h-10  align-content-center"  src="/img/movie.jpg" />

</div>
</div>